<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- End Required meta tags -->
  <!-- Begin SEO tag -->
  <title>Hostero Dashboard</title>
  <meta property="og:title" content="Hostero Dashboard">
  <meta name="author" content="Hostero">
  <meta property="og:locale" content="en_US">
  <meta name="description" content="Mining Software">
  <meta property="og:description" content="Mining Software">
  <link rel="canonical" href="https://www.hostero.eu">
  <meta property="og:url" content="https://www.hostero.eu">
  <meta property="og:site_name" content="Hostero Dashboard">
  <!-- FAVICONS -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/apple-touch-icon.png">
  <link rel="shortcut icon" href="assets/favicon.ico">
  <meta name="theme-color" content="#3063A0">
  <!-- End FAVICONS -->

  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.css" />
  <link rel="stylesheet" href="bower_components/PACE/themes/blue/pace-theme-flash.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/looper.css">
  <link rel="stylesheet" href="styles/looper_custom.css">
  <!-- endbuild -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-app="atlasApp" ng-controller="RootCtrl as rootCtrl">
  <!-- .app -->
  <div class="app">
    <!-- .app-header -->
    <header class="app-header">
      <!-- .top-bar -->
      <div class="top-bar">
        <!-- .top-bar-brand -->
        <div class="top-bar-brand">
          <a ui-sref="dashboard">
            <!--<img src="assets/images/brand-inverse.png" height="32" alt="">-->
            <span>Hostero</span> <sup><small>v1</small></sup>
          </a>
        </div>
        <!-- /.top-bar-brand -->
        <!-- .top-bar-list -->
        <div class="top-bar-list">
          <!-- .top-bar-item -->
          <div class="top-bar-item px-2 d-md-none d-lg-none d-xl-none">
            <!-- toggle menu -->
            <button class="hamburger hamburger-squeeze" type="button" data-toggle="aside" aria-label="Menu" aria-controls="navigation">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            <!-- /toggle menu -->
          </div>
          <!-- /.top-bar-item -->
          <!-- .top-bar-item -->
          <div class="top-bar-item top-bar-item-full">

          </div>
          <!-- /.top-bar-item -->
          <!-- .top-bar-item -->
          <div class="top-bar-item top-bar-item-right px-0 d-none d-sm-flex">
            <!-- .btn-account -->
            <div class="dropdown" ng-if="isAuthenticated">
              <button class="btn-account d-none d-md-flex" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="user-avatar">
                    <img src="{{profile.picture}}" alt="">
                  </span>
                  <span class="account-summary pr-lg-4 d-none d-lg-block">
                    <span class="account-name">{{profile.name}}</span>
                    <span class="account-description">{{profile.email}}</span>
                  </span>
                </button>
              <div class="dropdown-arrow dropdown-arrow-left"></div>
              <!-- .dropdown-menu -->
              <div class="dropdown-menu">
                <h6 class="dropdown-header d-none d-md-block d-lg-none"> {{profile.name}} </h6>
                <a class="dropdown-item" ui-sref="account">
                    <span class="dropdown-icon oi oi-person"></span> Account</a>
                <a class="dropdown-item" href="#" ng-click="authService.logout()">
                    <span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://www.hostero.eu/getting-started.html">Help Center</a>
              </div>
              <!-- /.dropdown-menu -->
            </div>
            <!-- /.btn-account -->
          </div>
          <!-- /.top-bar-item -->
        </div>
        <!-- /.top-bar-list -->
      </div>
      <!-- /.top-bar -->
    </header>
    <!-- /.app-header -->
    <!-- .app-aside -->
    <aside class="app-aside">
      <!-- .aside-content -->
      <div class="aside-content">
        <!-- .aside-header -->
        <header class="aside-header d-block d-md-none">
          <!-- .btn-account -->
          <button class="btn-account" type="button" data-toggle="collapse" data-target="#dropdown-aside">
              <span class="user-avatar user-avatar-lg">
                <img src="{{profile.picture}}" alt="">
              </span>
              <span class="account-icon">
                <span class="fa fa-caret-down fa-lg"></span>
              </span>
              <span class="account-summary">
                <span class="account-name">{{profile.name}}</span>
                <span class="account-description">{{profile.email}}</span>
              </span>
            </button>
          <!-- /.btn-account -->
          <!-- .dropdown-aside -->
          <div id="dropdown-aside" class="dropdown-aside collapse">
            <!-- dropdown-items -->
            <div class="pb-3">
              <a class="dropdown-item" ui-sref="account">
                  <span class="dropdown-icon oi oi-person"></span> Account</a>
              <a class="dropdown-item" href="#" ng-click="authService.logout()">
                  <span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://www.hostero.eu/getting-started.html">Help Center</a>
            </div>
            <!-- /dropdown-items -->
          </div>
          <!-- /.dropdown-aside -->
        </header>
        <!-- /.aside-header -->
        <!-- .aside-menu -->
        <section class="aside-menu has-scrollable">
          <!-- .stacked-menu -->
          <nav id="stacked-menu" class="stacked-menu">
            <!-- .menu -->
            <ul class="menu">
              <!-- .menu-item -->
              <li class="menu-item">
                <a ui-sref="dashboard" class="menu-link">
                    <span class="menu-icon fas fa-tachometer-alt"></span>
                    <span class="menu-text">Dashboard</span>
                  </a>
              </li>
              <!-- /.menu-item -->
              <!-- .menu-item -->
              <li class="menu-item has-child">
                <a ui-sref="settings" class="menu-link">
                    <span class="menu-icon fas fa-cog"></span>
                    <span class="menu-text">Settings</span>
                  </a>
                <!-- /child menu -->
              </li>
              <!-- /.menu-item -->
              <!-- .menu-item -->
              <li class="menu-item has-child">
                <a ui-sref="install" class="menu-link">
                    <span class="menu-icon fas fa-download"></span>
                    <span class="menu-text">Install</span>
                  </a>
                <!-- /child menu -->
              </li>
              <!-- /.menu-item -->
              <!-- .menu-header -->
              <li class="menu-header">Management </li>
              <!-- /.menu-header -->
              <!-- .menu-item -->
              <li class="menu-item has-child">
                <a ui-sref="hosts" class="menu-link">
                    <span class="menu-icon fas fa-list-alt"></span>
                    <span class="menu-text">Hosts</span>
                  </a>
              </li>
              <!-- /.menu-item -->
              <!-- .menu-item -->
              <li class="menu-item has-child">
                <a ui-sref="miners" class="menu-link">
                    <span class="menu-icon fas fa-th-list"></span>
                    <span class="menu-text">Miners</span>
                  </a>
              </li>
              <!-- /.menu-item -->
            </ul>
            <!-- /.menu -->
          </nav>
          <!-- /.stacked-menu -->
        </section>
        <!-- /.aside-menu -->
      </div>
      <!-- /.aside-content -->
    </aside>
    <!-- /.app-aside -->

    <!-- .app-main -->
    <main class="app-main">
      <!-- .wrapper -->
      <div class="wrapper">
        <!-- .page -->
        <div class="page" ui-view>
          <!-- .page-inner -->
          <div class="page-inner">

          </div>
          <!-- /.page-inner -->
        </div>
        <!-- /.page -->
      </div>
      <!-- .app-footer -->
      <footer class="app-footer">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a class="text-muted" href="mailto:hosteroeu@gmail.com">Support</a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="https://www.hostero.eu/getting-started.html">Help Center</a>
          </li>
        </ul>
        <div class="copyright"> Copyright © 2018. All right reserved. </div>
      </footer>
      <!-- /.app-footer -->
      <!-- /.wrapper -->
    </main>
    <!-- /.app-main -->
  </div>
  <!-- /.app -->

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/auth0-lock/build/lock.js"></script>
  <script src="bower_components/angular-lock/angular-lock.js"></script>
  <script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-filter/dist/angular-filter.js"></script>
  <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
  <script src="bower_components/ansi-to-html/ansi2html.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.bundle.js"></script>
  <script src="bower_components/PACE/pace.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/root.js"></script>
  <script src="scripts/controllers/dashboard.js"></script>
  <script src="scripts/controllers/settings.js"></script>
  <script src="scripts/controllers/coins.js"></script>
  <script src="scripts/controllers/billing.js"></script>
  <script src="scripts/controllers/hosts.js"></script>
  <script src="scripts/controllers/host.js"></script>
  <script src="scripts/controllers/hosts.new.js"></script>
  <script src="scripts/controllers/hosts.details.js"></script>
  <script src="scripts/controllers/miners.js"></script>
  <script src="scripts/controllers/_miner.js"></script>
  <script src="scripts/controllers/miners.new.js"></script>
  <script src="scripts/controllers/miners.details.js"></script>
  <script src="scripts/controllers/miners.logs.js"></script>
  <script src="scripts/controllers/login.js"></script>
  <script src="scripts/controllers/account.js"></script>
  <script src="scripts/controllers/account.plans.js"></script>
  <script src="scripts/controllers/install.js"></script>
  <script src="scripts/services/auth.js"></script>
  <script src="scripts/services/hosts.js"></script>
  <script src="scripts/services/miners.js"></script>
  <script src="scripts/services/accounts.js"></script>
  <script src="scripts/services/api.js"></script>
  <script src="scripts/vendor/stacked-menu/stacked-menu.js"></script>
  <!-- endbuild -->

  <!-- BEGIN PLUGINS JS -->
  <!--
  <script src="assets/vendor/stacked-menu/stacked-menu.min.js"></script>
  <script src="assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
  -->
  <!-- END PLUGINS JS -->
</body>

</html>
