<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Hostero Dashboard</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body ng-app="atlasApp" ng-cloak layout="column">
  <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- Add your site or application content here -->
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <h2><span>Hostero</span></h2>
      <span flex></span>
      <md-button class="md-raised" aria-label="Log out" ng-click="authService.logout()" ng-if="isAuthenticated">
        Log Out
      </md-button>
    </div>
  </md-toolbar>

  <div flex layout="row">
    <md-sidenav flex="20" md-is-locked-open="true" class="md-whiteframe-z1">
      <md-list>
        <md-list-item ui-sref="dashboard" ui-sref-active="active">
          <md-icon>home</md-icon>
          <p>Dashboard</p>
        </md-list-item>
        <md-list-item ui-sref="settings" ui-sref-active="active">
          <md-icon>account_box</md-icon>
          <p>Settings</p>
        </md-list-item>
        <md-subheader class="md-no-sticky">Management</md-subheader>
        <md-list-item ui-sref="sites" ui-sref-active="active">
          <md-icon>list</md-icon>
          <p>Sites</p>
        </md-list-item>
      </md-list>
    </md-sidenav>

    <div layout="column" flex ui-view></div>
  </div>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    ! function(A, n, g, u, l, a, r) {
      A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
          (A[l].q = A[l].q || []).push(arguments)
        }, A[l].l = +new Date, a = n.createElement(g),
        r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
  </script>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/auth0-lock/build/lock.js"></script>
  <script src="bower_components/angular-lock/angular-lock.js"></script>
  <script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-filter/dist/angular-filter.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/dashboard.js"></script>
  <script src="scripts/controllers/settings.js"></script>
  <script src="scripts/controllers/sites.js"></script>
  <script src="scripts/controllers/sites.new.js"></script>
  <script src="scripts/services/auth.js"></script>
  <script src="scripts/services/sites.js"></script>
  <script src="scripts/services/accounts.js"></script>
  <script src="scripts/services/api.js"></script>
  <script src="scripts/controllers/login.js"></script>
  <!-- endbuild -->
</body>

</html>
