<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Hostero Dashboard</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body ng-app="atlasApp" ng-cloak layout="column" ng-controller="RootCtrl as rootCtrl">
  <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- Add your site or application content here -->
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <!--<img src="images/hostero_logo_white_small.png" height="40" />&nbsp;-->
      <h2><span>Hostero</span> <sup><small>Beta</small></sup></h2>
      <span flex></span>
      <span ng-if="isAuthenticated">
        <md-menu hide-gt-xs>
          <md-button aria-label="Open menu" class="md-icon-button md-raised" ng-click="rootCtrl.openMenu($mdMenu, $event)">
            <md-tooltip>Navigation</md-tooltip>
            <md-icon>menu</md-icon>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item>
              <md-button aria-label="Dashboard" ui-sref="dashboard">
                <md-icon>dashboard</md-icon>
                Dashboard
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button aria-label="Settings" ui-sref="settings">
                <md-icon>settings_applications</md-icon>
                Settings
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button aria-label="Install" ui-sref="install">
                <md-icon>get_app</md-icon>
                Install
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button aria-label="Hosts" ui-sref="hosts">
                <md-icon>storage</md-icon>
                Hosts
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button aria-label="Miners" ui-sref="miners">
                <md-icon>view_agenda</md-icon>
                Miners
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        <md-menu>
          <md-button aria-label="Open menu" class="md-icon-button md-raised" ng-click="rootCtrl.openMenu($mdMenu, $event)">
            <md-tooltip>More</md-tooltip>
            <md-icon>more_horiz</md-icon>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item>
              <md-button aria-label="Account" ui-sref="account">
                <md-icon>account_box</md-icon>
                Account
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button aria-label="Log out" ng-click="authService.logout()">
                <md-icon>exit_to_app</md-icon>
                Log Out
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </span>
    </div>
  </md-toolbar>

  <div flex layout="row">
    <md-sidenav flex-gt-md="20" flex-md="20" flex="10" md-is-locked-open="$mdMedia('gt-xs')" class="md-whiteframe-z1">
      <md-list>
        <md-list-item ui-sref="dashboard" ui-sref-active="active">
          <md-icon>dashboard</md-icon>
          <p>Dashboard</p>
        </md-list-item>
        <md-list-item ui-sref="settings" ui-sref-active="active">
          <md-icon>settings_applications</md-icon>
          <p>Settings</p>
        </md-list-item>
        <md-list-item ui-sref="install" ui-sref-active="active">
          <md-icon>get_app</md-icon>
          <p>Install</p>
        </md-list-item>
        <md-subheader class="md-no-sticky" show-gt-sm hide>Management</md-subheader>
        <md-list-item ui-sref="hosts" ui-sref-active="active">
          <md-icon>storage</md-icon>
          <p>Hosts</p>
        </md-list-item>
        <md-list-item ui-sref="miners" ui-sref-active="active">
          <md-icon>view_agenda</md-icon>
          <p>Miners</p>
        </md-list-item>
      </md-list>
    </md-sidenav>

    <div layout="column" flex ui-view></div>
  </div>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    ! function(A, n, g, u, l, a, r) {
      A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
          (A[l].q = A[l].q || []).push(arguments)
        }, A[l].l = +new Date, a = n.createElement(g),
        r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
  </script>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/auth0-lock/build/lock.js"></script>
  <script src="bower_components/angular-lock/angular-lock.js"></script>
  <script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-filter/dist/angular-filter.js"></script>
  <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
  <script src="bower_components/ansi-to-html/ansi2html.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/root.js"></script>
  <script src="scripts/controllers/dashboard.js"></script>
  <script src="scripts/controllers/settings.js"></script>
  <script src="scripts/controllers/hosts.js"></script>
  <script src="scripts/controllers/host.js"></script>
  <script src="scripts/controllers/hosts.new.js"></script>
  <script src="scripts/controllers/hosts.details.js"></script>
  <script src="scripts/controllers/miners.js"></script>
  <script src="scripts/controllers/_miner.js"></script>
  <script src="scripts/controllers/miners.new.js"></script>
  <script src="scripts/controllers/miners.details.js"></script>
  <script src="scripts/controllers/miners.logs.js"></script>
  <script src="scripts/controllers/login.js"></script>
  <script src="scripts/controllers/account.js"></script>
  <script src="scripts/controllers/install.js"></script>
  <script src="scripts/services/auth.js"></script>
  <script src="scripts/services/hosts.js"></script>
  <script src="scripts/services/miners.js"></script>
  <script src="scripts/services/accounts.js"></script>
  <script src="scripts/services/api.js"></script>
  <!-- endbuild -->
</body>

</html>
