<!-- .form -->
<form>
  <!-- .fieldset -->
  <fieldset>
    <legend>WebChain</legend>
    <!-- .form-group -->
    <div class="form-group">
      <label for="lbl5">Wallet
      </label>
      <input type="text" class="form-control" id="lbl5" ng-model="ctrl.wallet_webchain" required=""> </div>
    <!-- /.form-group -->
    <!-- .form-group -->
    <div class="form-group">
      <label for="lbl6">Password
      </label>
      <input type="text" class="form-control" id="lbl6" ng-model="ctrl.password_webchain" required="">
    </div>
    <!-- /.form-group -->
    <!-- .form-group -->
    <div class="form-group">
      <label for="lbl7">Mining Pool URL
      </label>
      <textarea class="form-control" id="lbl7" rows="3" ng-model="ctrl.mining_pool_url_webchain"></textarea>
    </div>
    <!-- /.form-group -->
  </fieldset>
  <!-- /.fieldset -->
</form>
<!-- /.form -->

<a href="https://webchain.network/start" target="_blank">Tutorial to create a wallet for WebChain</a>
