<!-- .form -->
<form>
  <!-- .fieldset -->
  <fieldset>
    <legend>WebDollar</legend>
    <!-- .form-group -->
    <div class="form-group">
      <label for="lbl2">Wallet
      </label>
      <input type="text" class="form-control" id="lbl2" ng-model="ctrl.wallet_webdollar" placeholder="WEBD$000000000000000000000000000000000$"> </div>
    <!-- /.form-group -->
    <!-- .form-group -->
    <div class="form-group">
      <label for="lbl3">Mining Pool URL
      </label>
      <textarea class="form-control" id="lbl3" rows="3" ng-model="ctrl.mining_pool_url_webdollar"></textarea>
    </div>
    <!-- /.form-group -->
  </fieldset>
  <!-- /.fieldset -->
</form>
<!-- /.form -->

<a href="https://webdollar.io" target="_blank">Tutorial to create a wallet for WebDollar</a>
