<!-- .page -->
<div class="page">
  <!-- .page-inner -->
  <div class="page-inner">
    <!-- .page-title-bar -->
    <header class="page-title-bar">
      <h1 class="page-title"> Account
        <small class="badge">{{global_account.name}}</small>
      </h1>
    </header>
    <!-- /.page-title-bar -->
    <!-- .page-section -->
    <div class="page-section">
      <div class="card card-fluid">
        <div class="card-body">
          <h4 class="card-title">Information</h4>
          <p><strong>Email:</strong> {{profile.email}}</p>
          <p><strong>Name:</strong> {{profile.name}}</p>
          <p><strong>Server ID:</strong> {{account.rancher_uri}}</p>
        </div>
      </div>
    </div>
    <!-- /.page-section -->
  </div>
  <!-- /.page-inner -->
</div>
<!-- /.page -->
