<md-toolbar>
  <div class="md-toolbar-tools">
    <h2 class="md-flex">Plan: <strong>{{plan}}</strong></h2>

    <span flex md-truncate></span>

    <!--<md-button ng-click="billingCtrl.change_plan()" class="md-raised">Change Plan</md-button>-->
  </div>
</md-toolbar>

<md-content flex layout-padding>
  <p>Hostero charges a fee that varies from the pool you are mining in. We use the pool's native referral system and payment is done automatically, you don't have to do anything.</p>
  <p>If you want to find out exactly what the fee is, contact the owner of the pool you are mining in. The big pools have a referral fee between 1-2%.</p>
</md-content>
