<!-- .page -->
<div class="page">
  <!-- .page-inner -->
  <div class="page-inner">
    <!-- .page-section -->
    <div class="page-section">
      <!--
      <div class="alert alert-secondary has-icon fade show">
        <div class="alert-icon">
          <span class="fa fa-bell"></span>
        </div>
        <h4 class="alert-heading">New Coin Added</h4>
        <p class="mb-0">We are happy to announce we integrated <a href="https://getnerva.org" class="alert-link" target="_blank">Nerva</a> into Hostero. <a ui-sref="coins" class="alert-link">Start Mining Nerva!</a></p>
      </div>
      -->

      <!-- .page-title-bar -->
      <header class="page-title-bar">
        <p class="lead">
          <span class="font-weight-bold">Hi, {{profile.name}}</span>
          <span class="d-block text-muted">Here’s what’s happening with your miners today.</span>
        </p>
      </header>
      <!-- /.page-title-bar -->

      <hr />

      <!-- .card -->
      <div class="card mt-5">
        <!-- .steps -->
        <section class="steps steps-float">
          <ul>
            <li class="success">
              <a ui-sref="wallets" tabindex="-1">
                <span class="step-indicator step-indicator-icon">
                  <i class="fas fa-cog"></i>
                </span>
                <span class="d-none d-sm-inline">Add Wallet</span>
              </a>
            </li>
            <li class="active">
              <a ui-sref="install" tabindex="-1">
                <span class="step-indicator step-indicator-icon">
                  <i class="fas fa-download"></i>
                </span>
                <span class="d-none d-sm-inline">Install Host</span>
              </a>
            </li>
            <li>
              <a ui-sref="hosts" tabindex="-1">
                <span class="step-indicator step-indicator-icon">
                  <i class="fas fa-plus"></i>
                </span>
                <span class="d-none d-sm-inline">Deploy Miner</span>
              </a>
            </li>
            <li>
              <a ui-sref="miners" tabindex="-1">
                <span class="step-indicator step-indicator-icon">
                  <i class="fas fa-th-list"></i>
                </span>
                <span class="d-none d-sm-inline">Monitor Miners</span>
              </a>
            </li>
          </ul>
        </section>
        <!-- /.steps -->
        <!-- .card-body -->
        <div class="card-body">
          <h4>Mining with Hostero is easy as &pi;</h4>
          <hr />
          <p>Add the wallet for the coin you want to mine.</p>
          <p>Install Hostero on the host (PC/server) you have - the host will shop up in a few minutes.</p>
          <p>Deploy a miner on the new host.</p>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->


      <div class="section-block">
        <!-- metric row -->
        <div class="metric-row">
          <!-- metric column -->
          <div class="col-12 col-sm-6 col-lg-3">
            <!-- .metric -->
            <div class="card-metric">
              <div class="metric">
                <p class="metric-value h3">
                  <sub>
                  <i class="fas fa-th-list"></i>
                </sub>
                  <span class="value">{{ miners.length }}</span>
                </p>
                <h2 class="metric-label"> <a ui-sref="miners">Miners</a> </h2>
              </div>
            </div>
            <!-- /.metric -->
          </div>
          <!-- /metric column -->
          <!-- metric column -->
          <div class="col-12 col-sm-6 col-lg-3">
            <!-- .metric -->
            <div class="card-metric">
              <div class="metric">
                <p class="metric-value h3">
                  <sub>
                  <i class="fas fa-list-alt"></i>
                </sub>
                  <span class="value">{{ hosts.length }}</span>
                </p>
                <h2 class="metric-label"> <a ui-sref="hosts">Hosts</a> </h2>
              </div>
            </div>
            <!-- /.metric -->
          </div>
          <!-- /metric column -->
          <!-- metric column -->
          <div class="col-12 col-sm-6 col-lg-3">
            <!-- .metric -->
            <div class="card-metric">
              <div class="metric">
                <p class="metric-value h3">
                  <sub>
                  <i class="fas fa-list-alt"></i>
                </sub>
                  <span class="value">{{ accounts.length }}</span>
                </p>
                <h2 class="metric-label"> <a ui-sref="account">Accounts</a> </h2>
              </div>
            </div>
            <!-- /.metric -->
          </div>
          <!-- /metric column -->
        </div>
        <!-- /metric row -->

        <!-- metric row -->
        <div class="metric-row">
          <!-- metric column -->
          <div class="col-12">
            <!-- .metric -->
            <div class="card-metric">
              <div class="metric">
                <iframe ng-src="{{ getIframeSrc(3) }}" width="95%" height="300" frameborder="0"></iframe>
              </div>
            </div>
            <!-- /.metric -->
          </div>
          <!-- /metric column -->
        </div>
        <!-- /metric row -->
      </div>
    </div>
    <!-- /.page-section -->
  </div>
  <!-- /.page-inner -->
</div>
<!-- /.page -->
