<md-content flex layout-padding>
  <md-grid-list md-cols-xs="1" md-cols-sm="3" md-cols-md="3" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="4px" md-gutter-gt-sm="8px">
    <md-grid-tile ng-repeat="host in hosts">
      <md-card>
        <md-card-header>
          <md-card-avatar>
            <md-icon class="md-avatar-icon md-accent">
              {{hostsCtrl.get_status_icon(host.status)}}
            </md-icon>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{host.name}}</span>
            <span class="md-subhead"><strong>{{host.cpu_count}}</strong> CPUs @ {{host.cpu_mhz | number:0}} Mhz</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
          {{host.os}}
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-card-icon-actions>
            <md-button ng-if="host.deployed == 1" disabled>deployed</md-button>
            <md-button ng-if="host.deployed == 2" disabled>deploying...</md-button>
            <md-button class="md-icon-button" aria-label="toggle" ng-click="hostsCtrl.deploy_miner($event, host)" ng-if="host.deployed == 0">
              <md-tooltip>Deploy Miner</md-tooltip>
              <md-icon>cloud_upload</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="toggle" ui-sref="host({host:host.id})">
              <md-tooltip>Host Details</md-tooltip>
              <md-icon>info</md-icon>
            </md-button>
          </md-card-icon-actions>
        </md-card-actions>
      </md-card>
    </md-grid-tile>
  </md-grid-list>

  <center ng-if="!hosts">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </center>

  <p ng-if="hosts != null && !hosts.length">
    You have not added any hosts. <a href="" ng-click="hostsCtrl.open_new_modal($event)">Add a host</a>.
  </p>

  <!--<md-button class="md-raised md-primary" ng-click="hostsCtrl.open_new_modal($event)">Add a Host</md-button>-->
</md-content>

<md-button class="md-fab md-primary add-button" ng-click="hostsCtrl.open_new_modal($event)">
  <md-icon class="material-icons">devices</md-icon>
  <md-tooltip>Add Host</md-tooltip>
</md-button>
