<!-- .page -->
<div class="page">
  <!-- .page-inner -->
  <div class="page-inner">
    <!-- .page-title-bar -->
    <header class="page-title-bar">
      <!-- floating action -->
      <button type="button" class="btn btn-success btn-floated" ui-sref="install">
        <span class="fa fa-download"></span>
      </button>
      <!-- /floating action -->
      <!-- title and toolbar -->
      <div class="d-md-flex align-items-md-start">
        <h1 class="page-title mr-sm-auto"> {{hosts.length}} Devices </h1>
      </div>
      <!-- /title and toolbar -->
    </header>
    <!-- /.page-title-bar -->

    <!-- .page-section -->
    <section class="card card-fluid">
      <div class="card-body" ng-if="hosts != null && !hosts.length">
        You have not installed any hosts. <a ui-sref="install">Install a device</a>.
      </div>

      <div class="table-responsive" ng-if="hosts != null && hosts.length">
        <table class="table table-hover" datatable="ng" dt-options="dt_options">
          <thead class="thead-light">
            <tr>
              <th>Device</th>
              <th>Status</th>
              <th>CPUs</th>
              <th class="d-none d-lg-block">Frequency</th>
              <th>Updated</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="host in hosts">
              <td>
                <div class="tile bg-success">
                  <i class="fa fa-{{hostsCtrl.get_status_icon(host.status)}}"></i>
                </div>
                &nbsp;
                <a ui-sref="host({host:host.id})">{{ host.name | limitTo:100 }}</a>
              </td>
              <td>
                <span ng-if="host.deployed == 0 && host.status == 'started'">Ready</span>
                <span ng-if="host.deployed == 1 && host.status == 'started'">Deployed</span>
                <span ng-if="host.deployed == 2 && host.status == 'started'">Deploying...</span>
                <span ng-if="host.status == 'stopped'">Stopped</span>
              </td>
              <td>
                {{host.cpu_count}}
              </td>
              <td class="d-none d-lg-block">
                {{host.cpu_mhz | number:0}} Mhz
              </td>
              <td>
                {{ host.updated_at | timeAgo }}
              </td>
              <td class="align-middle text-right">
                <a ui-sref="new_miner({host:host.id})" ng-if="host.deployed == 0 && host.status == 'started' && global_miners.length < (global_account.plan_miners + global_account.bonus_miners)" class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="top" title="Deploy">
                  <i class="fas fa-plus"></i>
                  <span class="sr-only">Deploy</span>
                </a>

                <a ng-click="hostsCtrl.remove(host)" class="btn btn-sm btn-secondary" data-toggle="tooltip" data-placement="top" title="Re-deploy">
                  <i class="fas fa-recycle"></i>
                  <span class="sr-only">Re-deploy</span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
  <!-- /.page-inner -->
</div>
<!-- /.page -->
