<md-content flex layout-padding>
  <div flex-xs layout="column">
    <md-card ng-repeat="instance in instances">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{instance.name}}</span>
          <span class="md-subhead">{{instance.created_at | date}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-disabled="true">Stop</md-button>
        <md-button ng-disabled="true">Scale</md-button>
      </md-card-actions>
    </md-card>

    <p ng-if="!instances.length">No Instances. Create</p>
  </div>
</md-content>

<md-button class="md-fab md-primary add-button" ng-click="vm.new_application($event)">
  <md-icon class="material-icons">add</md-icon>
  <md-tooltip>New Site</md-tooltip>
</md-button>
