<md-toolbar>
  <div class="md-toolbar-tools">
    <h2 flex md-truncate><strong>{{ miners.length }}</strong> <a href="" ng-click="filter=''">Miners</a> (<strong>{{ miners_stopped.length }}</strong> <a href="" ng-click="filter='stopped'">stopped</a>)</h2>
  </div>
</md-toolbar>

<md-content flex layout-padding>
  <md-list>
    <md-list-item ng-repeat="miner in miners | filter:filter" ui-sref="miner({miner:miner.id})" class="noright">
      <md-icon class="material-icons" md-colors="{color: 'blue-grey'}">{{minersCtrl.get_status_icon(miner.status)}}</md-icon>
      <p><strong>{{ miner.name }}</strong></p>
      <md-button ui-sref="host({host:miner.Host.id})">
        {{ miner.Host.name }}
      </md-button>
      <md-icon class="material-icons">explore</md-icon>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>

  </md-list>

  <center ng-if="!miners">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </center>

  <p ng-if="miners != null && !miners.length">
    You have not deployed any miners. <a href="" ng-click="minersCtrl.open_new_modal($event)">Deploy a miner</a>.
  </p>
</md-content>

<md-button class="md-fab md-primary add-button" ng-click="minersCtrl.open_new_modal($event)">
  <md-icon class="material-icons">cloud_upload</md-icon>
  <md-tooltip>Deploy Miner</md-tooltip>
</md-button>
