<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button aria-label="Go Back" ui-sref="miners">
      Back
    </md-button>

    <h2 flex md-truncate><strong>{{ miner.name }}</strong> ({{ miner.terminal_workers_cpu_max }} threads)</h2>
    <small>{{ miner.status }}</small>
    &nbsp;
    <md-button class="md-icon-button md-raised" aria-label="toggle" ng-click="open_details(miner)">
      <md-tooltip>Miner Details</md-tooltip>
      <md-icon>details</md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-content flex layout-padding>
  <center ng-if="!miner">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </center>

  <div ng-if="miner">
    <p>Mining Pool: <strong><a ng-href="{{ miner.mining_pool_url }}" target="_blank">{{ miner.friendly_name }}</a></strong></p>
    <p>Wallet: <strong><a ng-href="{{ getHref(miner.wallet.address) }}" target="_blank">{{ miner.wallet.address }}</a></strong></p>

    <div ng-if="show_chart">
      <iframe ng-src="{{ getIframeSrc(1, miner.wallet.address) }}" width="100%" height="300" frameborder="0"></iframe>
      <iframe ng-src="{{ getIframeSrc(3, miner.wallet.address) }}" width="100%" height="300" frameborder="0"></iframe>
    </div>

    <p ng-if="!show_chart">Note: Mining in WMP allows you to see mining charts on this screen.</p>
    <!--<p><strong>Note</strong>: To see the logs you can connect to the server and run: <code>docker logs -f $(docker ps | grep node | cut -c1-5)</code></p>-->
  </div>
</md-content>
