<!-- .page -->
<div class="page">
  <!-- .page-inner -->
  <div class="page-inner">
    <!-- .page-title-bar -->
    <header class="page-title-bar">
      <h1 class="page-title">Deploy Miner</h1>
    </header>
    <!-- /.page-title-bar -->
    <!-- .page-section -->
    <div class="page-section">
      <div class="card card-fluid">
        <div class="card-body">
          <div class="form-group">
            <label for="host">Host</label>
            <select class="custom-select" id="host" required="required" ng-model="ctrl.selected_host_id" ng-change="ctrl.update_threads()">
              <option ng-repeat="host in ctrl.hosts" value="{{host.id}}">{{host.name}}</option>
              <option value="">Choose...</option>
            </select>
          </div>

          <div class="form-group">
            <label for="threads">Threads</label>
            <input type="number" class="form-control" id="threads" ng-model="ctrl.threads" required="" placeholder="Pick a host" />
          </div>

          <p>Coin</p>
          <!-- .section-block -->
          <div class="section-block text-center text-sm-left">
            <!-- .visual-picker -->
            <div class="visual-picker visual-picker-sm has-peek px-3" ng-repeat="coin in global_coins">
              <!-- visual-picker input -->
              <input type="radio" id="{{coin.internal_name}}" name="vprSM" value="{{coin.internal_name}}" ng-model="ctrl.selected_coin" />
              <!-- .visual-picker-figure -->
              <label class="visual-picker-figure" for="{{coin.internal_name}}">
                <!-- .visual-picker-content -->
                <span class="visual-picker-content">
                  <span class="tile tile-sm bg-{{coin.color}}">
                    <i class="fa fa-money-bill-alt"></i>
                  </span>
                </span>
                <!-- /.visual-picker-content -->
              </label>
              <!-- /.visual-picker-figure -->
              <!-- .visual-picker-peek -->
              <span class="visual-picker-peek">{{coin.name}}</span>
            </div>
            <!-- /.visual-picker -->
          </div>
          <!-- /.section-block -->

          <div ng-include src="'views/wallets/' + ctrl.selected_coin + '.html'"></div>

          <hr class="my-5" />
          <button class="btn btn-primary btn-lg btn-block" ng-click="ctrl.deploy()">Deploy</button>
          <button class="btn btn-outline-secondary btn-lg btn-block" ui-sref="miners">Cancel</button>
        </div>
      </div>
    </div>
    <!-- /.page-section -->
  </div>
  <!-- /.page-inner -->
</div>
<!-- /.page -->
