<md-dialog flex="50">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Deploy Miner</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="minersNewCtrl.close()">
        <md-icon class="material-icons">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <md-content class="layout-padding">
      <form name="minersNewCtrl.form" novalidate>
        <div>
          <md-input-container class="md-block" flex-gt-xs>
            <label>Mining Pool URL</label>
            <input ng-model="mining_pool_url" name="pool_url" required />
          </md-input-container>
          <md-input-container class="md-block">
            <label>Wallet JSON</label>
            <textarea ng-model="wallet" md-maxlength="1000" rows="5" md-select-on-focus required></textarea>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Host</label>
            <md-select ng-model="selected_host" required>
              <md-option ng-repeat="host in hosts" value="{{host}}" selected="selected_host">
                {{host.name}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </form>
    </md-content>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="minersNewCtrl.close()">
      Cancel
    </md-button>
    <md-button ng-click="minersNewCtrl.create()" md-autofocus ng-disabled="!minersNewCtrl.form.$valid">
      Create
    </md-button>
  </md-dialog-actions>
</md-dialog>
