<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button aria-label="Go Back" ui-sref="miner({miner:miner})" class="md-raised">
      <md-icon>chevron_left</md-icon>Back
    </md-button>

    &nbsp;&nbsp;
    <h2 flex md-truncate><strong>{{ power }}</strong></h2>
  </div>
</md-toolbar>

<md-content flex layout-padding>
  <md-card>
    <md-card-title>
      <span class="md-subhead description">
        <small>
          <ul class="logs_list">
            <li ng-repeat="log in logs.slice().reverse() | limitTo:1000">
              <div ng-bind-html="log.message"></div>
            </li>
          </ul>
        </small>
      </span>
    </md-card-title>
  </md-card>
</md-content>
