<md-bottom-sheet class="md-grid" layout="column">
  <div layout="row" layout-align="center center" ng-cloak>
    <h4>CPU Usage: {{cpu_usage}}%</h4>
  </div>
  <div ng-cloak>
    <md-list flex layout="row" layout-align="center center">
      <md-list-item>
        <md-button ng-click="details()" class="md-grid-item-content">
          <md-icon>info</md-icon>
          <div class="md-grid-text">Details</div>
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button ng-click="redeploy($event)" class="md-grid-item-content">
          <md-icon>settings_backup_restore</md-icon>
          <div class="md-grid-text">Re-deploy</div>
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button ng-click="logs()" class="md-grid-item-content">
          <md-icon>info</md-icon>
          <div class="md-grid-text">Logs</div>
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button ng-click="remove()" class="md-grid-item-content md-warn">
          <md-icon>delete</md-icon>
          <div class="md-grid-text">Remove</div>
        </md-button>
      </md-list-item>
    </md-list>
  </div>
</md-bottom-sheet>
