<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button aria-label="Go Back" ui-sref="miners" class="md-raised">
      <md-icon>chevron_left</md-icon>Back
    </md-button>

    &nbsp;&nbsp;
    <h2 flex md-truncate><strong>{{ miner.name }}</strong></h2>
    <md-button class="md-icon-button md-raised" aria-label="toggle" ng-click="open_details(miner)">
      <md-tooltip>Miner Details</md-tooltip>
      <md-icon>more_vert</md-icon>
    </md-button>
    &nbsp;&nbsp;
  </div>
</md-toolbar>

<md-content flex>
  <center ng-if="!miner">
    <br />
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </center>

  <div ng-if="miner">
    <md-tabs md-dynamic-height md-border-bottom class="md-accent" md-align-tabs="top">
      <md-tab label="Details">
        <md-content class="md-padding">
          <p>Status: <strong>{{ miner.status | ucfirst }}</strong></p>
          <p>Coin: <strong>{{ miner.coin | ucfirst }}</strong></p>
          <p>Host: <strong>{{ miner.Host.name }}</strong></p>
          <p>CPU Usage: <strong>{{ cpu_usage }}%</strong></p>
          <p ng-if="miner.coin == 'webdollar'">Mining Pool: <strong><a ng-href="{{ miner.mining_pool_url }}" target="_blank">{{ miner.friendly_name }}</a></strong></p>
          <p>Wallet: <strong><a ng-href="{{ getHref(miner.wallet) }}" target="_blank">{{ miner.wallet }}</a></strong></p>
          <p>Threads: <strong>{{ miner.threads }}</strong></p>
          <p ng-if="miner.coin == 'webdollar'">Server Port: <strong>{{ miner.server_port }}</strong></p>
          <p ng-if="miner.coin == 'webdollar'">Domain: <strong>{{ miner.domain }}</strong></p>
          <p ng-if="miner.coin == 'webdollar'">Wallet Secret URL: <strong>{{ miner.wallet_secret_url }}</strong></p>
        </md-content>
      </md-tab>
      <md-tab label="Charts">
        <md-content class="md-padding">
          <div ng-if="show_chart">
            <iframe ng-src="{{ getIframeSrc(1, miner.wallet) }}" width="100%" height="300" frameborder="0"></iframe>
            <iframe ng-src="{{ getIframeSrc(3, miner.wallet) }}" width="100%" height="300" frameborder="0"></iframe>
          </div>

          <p ng-if="!show_chart">Note: Power and Rewards chart are only available for WebDollar miners running on the WMP pool.</p>
        </md-content>
      </md-tab>
      <md-tab label="Logs">
        <md-content class="md-padding">
          <center>
            <md-button class="md-primary md-raised" ui-sref="miner_logs({miner: miner.id})">View Miner Logs</md-button>
          </center>
          <p><strong>Note</strong>: To see the logs straight on the server, run: <code>docker logs -f $(docker ps | grep node | cut -c1-5)</code></p>
        </md-content>
      </md-tab>
    </md-tabs>
  </div>
</md-content>
