<md-content flex layout-padding>
  <md-list>
    <md-list-item ng-repeat="miner in miners" ui-sref="miner({miner:miner.id})" class="noright">
      <md-icon class="material-icons md-accent">{{minersCtrl.get_status_icon(miner.status)}}</md-icon>
      <p><strong>{{ miner.name }}</strong></p>
      <p>({{ miner.Host.name }})</p>
      <md-icon class="material-icons">explore</md-icon>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>

  </md-list>

  <center ng-if="!miners">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </center>

  <p ng-if="miners != null && !miners.length">
    You have not deployed any miners. <a href="" ng-click="minersCtrl.open_new_modal($event)">Deploy a miner</a>.
  </p>
</md-content>

<md-button class="md-fab md-primary add-button" ng-click="minersCtrl.open_new_modal($event)">
  <md-icon class="material-icons">cloud_upload</md-icon>
  <md-tooltip>Deploy Miner</md-tooltip>
</md-button>
