<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button aria-label="Go Back" ui-sref="miners">
      Back
    </md-button>

    <h2 flex md-truncate><strong>{{ miner.name }}</strong> ({{ miner.terminal_workers_cpu_max }} threads)</h2>
    {{ miner.status }}
  </div>
</md-toolbar>

<md-content flex layout-padding>
  <center ng-if="!miner">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </center>

  <div ng-if="miner">
    <p>Mining Pool URL: <strong>{{ miner.mining_pool_url }}</strong></p>
    <p>Wallet: <strong>{{ miner.wallet.address }}</strong></p>
    <p>Note: To see the logs you can connect to the server and run: <code>docker logs -f $(docker ps | grep pool_miner_cpp | cut -c1-5)</code></p>
  </div>
</md-content>
