<md-bottom-sheet class="md-list md-has-header">
  <md-list>
    <md-list-item>
      <md-button ng-click="details()" class="md-list-item-content">
        <md-icon>info</md-icon>
        <span class="md-inline-list-icon-label">Details</span>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button ng-click="remove()" class="md-list-item-content md-warn">
        <md-icon>delete</md-icon>
        <span class="md-inline-list-icon-label">Remove</span>
      </md-button>
    </md-list-item>
  </md-list>
</md-bottom-sheet>
