<!-- .page-inner -->
<div class="page-inner">

<!-- floating action -->
<button type="button" class="btn btn-success btn-floated" ng-click="minersCtrl.open_new_modal($event)">
  <span class="fa fa-plus"></span>
</button>
<!-- /floating action -->

<!-- .page-section -->
<div class="page-section">
  <!-- .card -->
  <section class="card card-fluid">
    <!-- .card-header -->
    <header class="card-header">
      <!-- .nav-tabs -->
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active show" data-toggle="tab" href="#tab1">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tab2">Ongoing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tab3">Completed</a>
        </li>
      </ul>
      <!-- /.nav-tabs -->
    </header>
    <!-- /.card-header -->
    <!-- .card-body -->
    <div class="card-body">
      <!-- .form-group -->
      <div class="form-group">
        <!-- .input-group -->
        <div class="input-group input-group-alt">
          <!-- .input-group-prepend -->
          <div class="input-group-prepend">
            <select id="filterBy" class="custom-select">
              <option value='' selected> Filter By </option>
              <option value="1"> Product </option>
              <option value="2"> Inventory </option>
              <option value="3"> Variants </option>
              <option value="4"> Prices </option>
              <option value="5"> Sales </option>
            </select>
          </div>
          <!-- /.input-group-prepend -->
          <!-- .input-group -->
          <div class="input-group has-clearable">
            <button id="clear-search" type="button" class="close" aria-label="Close">
              <span aria-hidden="true">
                <i class="fa fa-times-circle"></i>
              </span>
            </button>
            <div class="input-group-prepend">
              <span class="input-group-text">
                <span class="oi oi-magnifying-glass"></span>
              </span>
            </div>
            <input id="table-search" type="text" class="form-control" placeholder="Search products"> </div>
          <!-- /.input-group -->
        </div>
        <!-- /.input-group -->
      </div>
      <!-- /.form-group -->
      <!-- .table -->
      <table id="miners" class="table">
        <!-- thead -->
        <thead>
          <tr>
            <th colspan="2" style="min-width: 320px;">
              <div class="thead-dd dropdown">
                <span class="custom-control custom-control-nolabel custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="check-handle">
                  <label class="custom-control-label" for="check-handle"></label>
                </span>
                <div class="thead-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                </div>
                <div class="dropdown-arrow"></div>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Select all</a>
                  <a class="dropdown-item" href="#">Unselect all</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Bulk remove</a>
                  <a class="dropdown-item" href="#">Bulk edit</a>
                  <a class="dropdown-item" href="#">Separate actions</a>
                </div>
              </div>
            </th>
            <th> Inventory </th>
            <th> Variants </th>
            <th> Prices </th>
            <th> Sales </th>
            <th style="width:100px; min-width:100px;"> &nbsp; </th>
          </tr>
        </thead>
        <!-- /thead -->
      </table>
      <!-- /.table -->
    </div>
    <!-- /.card-body -->
  </section>
  <!-- /.card -->
</div>
<!-- /.page-section -->

</div>
<!-- /.page-inner -->

















<!--


<md-toolbar>
  <div class="md-toolbar-tools">
    <h2 flex md-truncate><strong>{{ miners.length }}</strong> <a href="" ng-click="filter=''">Miners</a> (<strong>{{ miners_running.length }}</strong> <a href="" ng-click="filter='started'">running</a>, <strong>{{ miners_stopped.length }}</strong> <a href="" ng-click="filter='stopped'">stopped</a>)</h2>
    <md-button class="md-icon-button md-raised" aria-label="toggle" ng-click="minersCtrl.redeploy($event)">
      <md-tooltip>Re-deploy Miners</md-tooltip>
      <md-icon>settings_backup_restore</md-icon>
    </md-button>
    &nbsp;&nbsp;
  </div>
</md-toolbar>

<md-content flex layout-padding>
  <md-list>
    <md-list-item ng-repeat="miner in miners | orderBy:'name' | filter:filter" ui-sref="miner({miner:miner.id})" class="noright">
      <md-icon class="material-icons" md-colors="{color: 'blue-grey'}">{{minersCtrl.get_status_icon(miner.status)}}</md-icon>
      <p>{{ miner.name | limitTo:20 }}</p>
      <md-button class="md-accent" ui-sref="host({host:miner.Host.id})">
        {{ miner.Host.name | limitTo:20 }}
      </md-button>
      <md-button class="md-icon-button" aria-label="toggle" ng-click="minersCtrl.open_details(miner)">
        <md-tooltip>Miner Details</md-tooltip>
        <md-icon>more_vert</md-icon>
      </md-button>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>

  <center ng-if="!miners">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </center>

  <p ng-if="miners != null && !miners.length">
    You have not deployed any miners. <a href="" ng-click="minersCtrl.open_new_modal($event)">Deploy a miner</a>.
  </p>

  <br />
  <br />
  <br />
  <br />
</md-content>

<md-button class="md-fab md-primary add-button" ng-click="minersCtrl.open_new_modal($event)">
  <md-icon class="material-icons">cloud_upload</md-icon>
  <md-tooltip>Deploy Miner</md-tooltip>
</md-button>

-->
