<!-- .page -->
<div class="page">
  <!-- .page-inner -->
  <div class="page-inner">
    <!-- .page-section -->
    <div class="page-section">
      <div class="row">
        <!-- grid column -->
        <div class="col-lg-4">
          <!-- .card -->
          <div class="card card-fluid">
            <h6 class="card-header"> Your Settings </h6>
            <!-- .nav -->
            <nav class="nav nav-tabs flex-column">
              <a ui-sref="settings" class="nav-link active">General</a>
              <a ui-sref="wallets" class="nav-link">Wallets</a>
            </nav>
            <!-- /.nav -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /grid column -->
        <!-- grid column -->
        <div class="col-lg-8">
          <section id="switcher" class="card">
            <!-- .card-body -->
            <div class="card-body">
              <h3 class="card-title"> Auto Deploy </h3>
              <p>Miners are deployed automatically when the host is created, if this option is enabled. Make sure you select what coin you want to be deployed by default and add the wallet for that coin.</p>
            </div>
            <!-- /.card-body -->
            <!-- .list-group -->
            <div class="list-group list-group-flush list-group-bordered">
              <!-- .list-group-item -->
              <div class="list-group-item d-flex justify-content-between align-items-center">
                <span>Enable Auto Deploy</span>
                <!-- .switcher-control -->
                <label class="switcher-control">
                  <input type="checkbox" class="switcher-input" ng-model="settingsCtrl.auto_deploy">
                  <span class="switcher-indicator"></span>
                </label>
                <!-- /.switcher-control -->
              </div>
              <!-- /.list-group-item -->
            </div>
            <!-- /.list-group -->

            <!-- .section-block -->
            <div class="section-block text-center text-sm-left">
              <!-- .visual-picker -->
              <div class="visual-picker visual-picker-sm has-peek px-3">
                <!-- visual-picker input -->
                <input type="radio" id="vpr01" name="vprSM" value="webdollar" ng-model="settingsCtrl.auto_deploy_coin">
                <!-- .visual-picker-figure -->
                <label class="visual-picker-figure" for="vpr01">
                  <!-- .visual-picker-content -->
                  <span class="visual-picker-content">
                    <span class="tile tile-sm bg-yellow">
                      <i class="fa fa-money-bill-alt"></i>
                    </span>
                  </span>
                  <!-- /.visual-picker-content -->
                </label>
                <!-- /.visual-picker-figure -->
                <!-- .visual-picker-peek -->
                <span class="visual-picker-peek">WebDollar</span>
              </div>
              <!-- /.visual-picker -->
              <!-- .visual-picker -->
              <div class="visual-picker visual-picker-sm has-peek px-3">
                <!-- visual-picker input -->
                <input type="radio" id="vpr02" name="vprSM" value="nerva" ng-model="settingsCtrl.auto_deploy_coin">
                <!-- .visual-picker-figure -->
                <label class="visual-picker-figure" for="vpr02">
                  <!-- .visual-picker-content -->
                  <span class="visual-picker-content">
                    <span class="tile tile-sm bg-blue">
                      <i class="fa fa-money-bill-alt"></i>
                    </span>
                  </span>
                  <!-- /.visual-picker-content -->
                </label>
                <!-- /.visual-picker-figure -->
                <!-- .visual-picker-peek -->
                <span class="visual-picker-peek">Nerva</span>
              </div>
              <!-- /.visual-picker -->
              <!-- .visual-picker -->
              <div class="visual-picker visual-picker-sm has-peek px-3">
                <!-- visual-picker input -->
                <input type="radio" id="vpr03" name="vprSM" value="webchain" ng-model="settingsCtrl.auto_deploy_coin">
                <!-- .visual-picker-figure -->
                <label class="visual-picker-figure" for="vpr03">
                  <!-- .visual-picker-content -->
                  <span class="visual-picker-content">
                    <span class="tile tile-sm bg-cyan">
                      <i class="fa fa-money-bill-alt"></i>
                    </span>
                  </span>
                  <!-- /.visual-picker-content -->
                </label>
                <!-- /.visual-picker-figure -->
                <!-- .visual-picker-peek -->
                <span class="visual-picker-peek">WebChain</span>
              </div>
              <!-- /.visual-picker -->
            </div>
            <!-- /.section-block -->
          </section>
          <!-- /.card -->
          <hr class="my-5">
          <button class="btn btn-primary btn-lg btn-block" ng-click="settingsCtrl.update()">Update</button>
        </div>
    </div>
    <!-- /.page-section -->
  </div>
  <!-- /.page-inner -->
</div>
<!-- /.page -->
