<md-toolbar>
  <div class="md-toolbar-tools">
    <md-switch ng-model="settingsCtrl.auto_deploy">
      <md-tooltip>Miners are deployed when the host is created</md-tooltip>
      <small>Auto Deploy Miners</small>
    </md-switch>

    <span flex md-truncate></span>

    <md-button ng-click="settingsCtrl.update()" md-autofocus ng-disabled="!settingsCtrl.form.$valid" class="md-raised">
      Update
    </md-button>
  </div>
</md-toolbar>

<md-content flex>
  <center ng-if="!settingsCtrl.mining_pool_url">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </center>

  <div ng-if="settingsCtrl.mining_pool_url">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Miners Settings</span>
          <span class="md-subhead description">
            <form name="settingsCtrl.form" novalidate>
              <div>
                <md-input-container class="md-block" flex-gt-xs>
                  <label>Mining Pool URL</label>
                  <textarea ng-model="settingsCtrl.mining_pool_url" name="pool_url" md-maxlength="255" rows="3" md-select-on-focus required></textarea>
                </md-input-container>
                <md-input-container class="md-block">
                  <label>Wallet Address</label>
                  <input ng-model="settingsCtrl.wallet" name="wallet" placeholder="WEBD$000000000000000000000000000000000$" md-select-on-focus required />
                </md-input-container>
              </div>

              <p><strong>Note</strong>: The settings are going to be used for all miners. If you already deployed miners, you need to <a href="#" ui-sref="miners">re-deploy</a> them for the settings to take effect.</p>
            </form>
          </span>
        </md-card-title-text>
      </md-card-title>
    </md-card>
  </div>
</md-content>
