<md-content flex layout-padding>
  <md-grid-list md-cols-xs="1" md-cols-sm="3" md-cols-md="3" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="4px" md-gutter-gt-sm="8px">
    <md-grid-tile ng-repeat="site in sites">
      <md-card>
        <md-card-header>
          <md-card-avatar>
            <md-icon class="md-avatar-icon">
              {{sitesCtrl.get_status_icon(site.status)}}
            </md-icon>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{site.name}}</span>
            <span class="md-subhead"><strong>{{site.scale}}</strong> instances</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-disabled="true">Stop</md-button>
          <md-button ng-disabled="true">Scale</md-button>
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="toggle" ng-click="sitesCtrl.open_url(site)">
              <md-tooltip>Open URL</md-tooltip>
              <md-icon>open_in_new</md-icon>
            </md-button>
          </md-card-icon-actions>
        </md-card-actions>
      </md-card>
    </md-grid-tile>
  </md-grid-list>

  <p ng-if="!sites.length">No Sites.
    <md-button ng-click="sitesCtrl.open_new_modal($event)">Create</md-button>
  </p>
</md-content>

<md-button class="md-fab md-primary add-button" ng-click="sitesCtrl.open_new_modal($event)">
  <md-icon class="material-icons">add</md-icon>
  <md-tooltip>New Site</md-tooltip>
</md-button>
