<!-- .page -->
<div class="page">
  <!-- .page-inner -->
  <div class="page-inner">
    <!-- .page-section -->
    <div class="page-section">
      <div class="row">
        <!-- grid column -->
        <div class="col-lg-4">
          <!-- .card -->
          <div class="card card-fluid">
            <h6 class="card-header"> Coins </h6>
            <!-- .nav -->
            <nav class="nav nav-tabs flex-column">
              <a ui-sref="wallets" class="nav-link">General</a>
              <a ui-sref="wallets.{{coin.internal_name}}" class="nav-link" ng-repeat="coin in global_coins">{{coin.name}}</a>
            </nav>
            <!-- /.nav -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /grid column -->
        <!-- grid column -->
        <div class="col-lg-8">
          <div ng-if="walletsCtrl.state.current.name === 'wallets'">
            <!-- .card -->
            <section id="labels" class="card">
              <!-- .card-body -->
              <div class="card-body">
                Select coin from the left side.
              </div>
              <!-- /.card-body -->
            </section>
            <!-- /.card -->
          </div>
          <div ng-if="walletsCtrl.state.current.name !== 'wallets'">
            <!-- .card -->
            <section id="labels" class="card">
              <!-- .card-body -->
              <div class="card-body">
                <div ui-view></div>
              </div>
              <!-- /.card-body -->
            </section>
            <!-- /.card -->
            <hr class="my-5">
            <button class="btn btn-primary btn-lg btn-block" ng-click="walletsCtrl.update()">Update</button>
          </div>
        </div>
      </div>
      <!-- /.page-section -->
    </div>
    <!-- /.page-inner -->
  </div>
  <!-- /.page -->
