<!-- .page -->
<div class="page">
  <!-- .page-inner -->
  <div class="page-inner">
    <!-- .page-section -->
    <div class="page-section">
      <div class="row">
        <!-- grid column -->
        <div class="col-lg-4">
          <!-- .card -->
          <div class="card card-fluid">
            <h6 class="card-header"> Your Settings </h6>
            <!-- .nav -->
            <nav class="nav nav-tabs flex-column">
              <a ui-sref="settings" class="nav-link">General</a>
              <a ui-sref="wallets" class="nav-link active">Wallets</a>
            </nav>
            <!-- /.nav -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /grid column -->
        <!-- grid column -->
        <div class="col-lg-8">
          <!-- .card -->
          <section id="labels" class="card">
            <!-- .card-body -->
            <div class="card-body">
              <!-- .form -->
              <form>
                <!-- .fieldset -->
                <fieldset>
                  <legend>Webdollar</legend>
                  <!-- .form-group -->
                  <div class="form-group">
                    <label for="lbl2">Wallet
                    </label>
                    <input type="text" class="form-control" id="lbl2" ng-model="settingsCtrl.wallet_webdollar" placeholder="WEBD$000000000000000000000000000000000$"> </div>
                  <!-- /.form-group -->
                  <!-- .form-group -->
                  <div class="form-group">
                    <label for="lbl3">Mining Pool URL
                    </label>
                    <textarea class="form-control" id="lbl3" rows="3" ng-model="settingsCtrl.mining_pool_url_webdollar"></textarea>
                  </div>
                  <!-- /.form-group -->
                </fieldset>
                <!-- /.fieldset -->
              </form>
              <!-- /.form -->
            </div>
            <!-- /.card-body -->
          </section>
          <!-- /.card -->
          <hr class="my-5">
          <!-- .card -->
          <section id="labels" class="card">
            <!-- .card-body -->
            <div class="card-body">
              <!-- .form -->
              <form>
                <!-- .fieldset -->
                <fieldset>
                  <legend>Nerva</legend>
                  <!-- .form-group -->
                  <div class="form-group">
                    <label for="lbl5">Wallet
                    </label>
                    <input type="text" class="form-control" id="lbl5" ng-model="settingsCtrl.wallet_nerva" required=""> </div>
                  <!-- /.form-group -->
                </fieldset>
                <!-- /.fieldset -->
              </form>
              <!-- /.form -->
            </div>
            <!-- /.card-body -->
          </section>
          <!-- /.card -->
          <hr class="my-5">
          <button class="btn btn-primary btn-lg btn-block" ng-click="settingsCtrl.update()">Update</button>
        </div>
    </div>
    <!-- /.page-section -->
  </div>
  <!-- /.page-inner -->
</div>
<!-- /.page -->
